<div class="ui five inverted cards">
    <div class="card">
        <div class="content">
            <i class="right floated big teal map marker icon"></i>
            <div class="header">${_station.name}</div>
            <div class="description">Lat: ${_station.latitude}</div>
            <div class="description">Long: ${_station.longitude}</div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated big ${_station.weatherIcon} icon"></i>
            <div class="header">Weather</div>
            <div class="description">${_station.weatherConditions}</div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated big blue temperature low icon"></i>
            <div class="header">Temp</div>
            <div class="description">${_station.tempCelsius}C</div>
            <div class="description">${_station.tempFarenheit}F</div>
            <div class="description">Max: ${_station.maxTemp}</div>
            <div class="description">
                Min: ${_station.minTemp}
                <i class="right floated big blue ${_station.tempTrend} icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated big green wind icon"></i>
            <div class="header">Wind</div>
            <div class="description">${_station.beaufort}bft</div>
            <div class="description">${_station.compassDirection}</div>
            <div class="description"> Feels like: </div>
            <div class="description">
                ${_station.windChill}C
                <i class="right floated big green ${_station.windTrend} icon"></i>
            </div>
            <div class="description">Max: ${_station.maxWindSpeed}</div>
            <div class="description">Min: ${_station.minWindSpeed}</div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated angle large red double up icon"></i>
            <div class="header">Pressure</div>
            <div class="description">${_station.pressure}hpa</div>
            <div class="description">Max: ${_station.maxPressure}</div>
            <div class="description">Min: ${_station.minPressure}</div>
            <i class="right floated big red ${_station.pressureTrend} icon"></i>
        </div>
    </div>
</div>